menu "J.A.R.V.I.S Agent Configuration"

    config JRVA_WIFI_SSID
        string "WiFi SSID"
        default "ZION"
        help
            SSID (network name) for the example to connect to.

    config JRVA_WIFI_PASSWORD
        string "WiFi Password"
        default "mypassword"
        help
            WiFi password (WPA or WPA2) for the example to use.

    config JRVA_WIFI_MAXIMUM_RETRY
        int "Maximum retry to connect"
        default 5
        help
            Set the Maximum retry to avoid station reconnecting to the AP unlimited when the AP is really inexistent.

endmenu