menu "J.A.R.V.I.S Agent Configuration"

    config JRVA_WIFI_SSID
        string "WiFi SSID"
        default "ZION"
        help
            SSID (network name) for the example to connect to.

    config JRVA_WIFI_PASSWORD
        string "WiFi Password"
        default "mypassword"
        help
            WiFi password (WPA or WPA2) for the example to use.

    config JRVA_WIFI_MAXIMUM_RETRY
        int "Maximum retry to connect"
        default 5
        help
            Set the Maximum retry to avoid station reconnecting to the AP unlimited when the AP is really inexistent.

    choice JRVA_WIFI_SCAN_AUTH_MODE_THRESHOLD
        prompt "WiFi Scan auth mode threshold"
        default JRVA_WIFI_AUTH_OPEN
        help
            The weakest authmode to accept in the scan mode.

        config JRVA_WIFI_AUTH_OPEN
            bool "OPEN"
        config JRVA_WIFI_AUTH_WEP
            bool "WEP"
        config JRVA_WIFI_AUTH_WPA_PSK
            bool "WPA PSK"
        config JRVA_WIFI_AUTH_WPA2_PSK
            bool "WPA2 PSK"
        config JRVA_WIFI_AUTH_WPA_WPA2_PSK
            bool "WPA/WPA2 PSK"
        config JRVA_WIFI_AUTH_WPA3_PSK
            bool "WPA3 PSK"
        config JRVA_WIFI_AUTH_WPA2_WPA3_PSK
            bool "WPA2/WPA3 PSK"
        config JRVA_WIFI_AUTH_WAPI_PSK
            bool "WAPI PSK"
    endchoice            

endmenu